@charset "utf-8";

$white-color:#fff;
$text-color:#333;
$border-color:#ddd;

* {
	touch-action: none;
}

body,
html {
	background-color: $white-color;
	color: $text-color;
}

li {
	list-style: none;
}

.hm-main-bar {
	background: $white-color;
	-webkit-transition: -webkit-transform .2s ease-out;
	transition: -webkit-transform .2s ease-out;
	transition: transform .2s ease-out;
	transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	box-shadow: 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.hm-container {
	background-color: $white-color;
	width: calc(100% - 20px);
	margin: 0 auto;
	.mui-search {
		margin-top: 10px;
	}
	input[type=search] {
		background-color: $white-color;
		border: 0.5px solid $border-color;
	}
}

.hm-banner-swiper {
	position: relative;
	width: 100%;
}

.swiper-slide {
	img {
		width: 100%;
	}
}
